@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

html, body {
  font-family: 'Nanum Myeongjo', serif;
  line-height:1.5;
  background-color:#fFFBF9;
  --color-font-main:#fe86a4;
  --color-deco-main:#FA9AAE;
}

.hidden {
  position:absolute;
  text-indent: -9999px;
  left:-9999px;
  top:-9999px;
  width:0;
  height:0;
}


.deco>div {
  background-color:#fa9aae;
}

button{
  background: inherit ;
  border:none;
  box-shadow:none;
  border-radius:0;
  padding:0;
  overflow:visible;
  cursor:pointer;
  color:inherit;
}

a {
  text-decoration: none;
  color:inherit;
}

.not-found {
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100vh;
  text-align: center;
  color:var(--color-font-main);
}

.not-found h2 {
  font-size:20vw;
  font-weight:800;
  line-height:1;
}
.not-found p {
  font-size:2.8vw;
  line-height:1;
}

.not-found a{
  display:inline-flex;
  margin-top:2.8vw;
  padding:1.4vw 2.8vw;
  font-size:2.8vw;
  background-color:var(--color-deco-main);
  border:1px solid #fff;
  color:#fff;
  border-radius: 5.6vw;
}
.not-found a:hover{
  background-color:var(--color-font-main)
}