
footer {
  padding:0 3.90vw 3.12vw;
}

footer>section {
  display:flex;
  align-items: flex-end;
}

footer>section>img {
  display:block;
  width:10%;
  margin-top:0.78vw;
}
@media screen and (max-width: 768px){
  footer {
    padding:0 3.90vw 10px;
  }

  footer>section>img {
    width:50px;
    margin-bottom:15px;
  }
}

footer>section>.deco {
  width:100%;
  padding:0 1.04vw;
}

footer>section>.deco>div {
  margin-bottom:15px;
  width:100%;
  height:4px;
  border-radius: 2px;
}
@media screen and (max-width: 768px){
  footer>section>.deco {
    padding:0 10px;
  }
  
  footer>section>.deco>div {
    margin-bottom:20px;
    width:100%;
    height:2px;
    border-radius: 1px;
  }
}
