
header {
  padding:3.12vw 3.90vw 0;
  color: var(--color-font-main);
}
@media screen and (max-width: 768px){
  header {
    padding:10px 3.90vw 0;
    color: var(--color-font-main);
  }
}

header>section {
  display:flex;
  align-items: flex-start;
}

header>section>img {
  display:block;
  width:10%;
  margin-top:0.78vw;
}

header>section>article {
  display:flex;
  font-size:5.40vw;
}
@media screen and (max-width: 768px){
  
  header>section>img {
    width:50px;
    margin-top:15px;
  }
  header>section>article {
    font-size:45px;
  }
}

header>section>article>.title {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow:column;
  font-size:1.56vw;
  text-align: center;
  margin:0 1.66vw;
}

@media screen and (max-width: 768px){
  header>section>article>.title {
    font-size:13px;
  }
}

header>section>article>.title>h1 {
  font-weight:800;
}

header>section>div {
  flex:1 0 auto;
  padding:0 1.04vw;
}

@media screen and (max-width: 768px) {
  header>section>div {
    flex:1 0 auto;
    padding:0 10px;
  }
}

header>section>.deco>div {
  margin-top:2.08vw;
  width:100%;
  height:4px;
  border-radius: 2px;
}
@media screen and (max-width: 768px){
  header>section>.deco>div {
    margin-top:20px;
    height:2px;
    border-radius:1px;
  }
}