main.member {
  display:flex;
  padding:0 5.20vw;
}

main.member .deco {
  padding:20px 0;
}

main.member .deco>div {
  width:4px;
  border-radius: 2px;
  height: 100%;
}

@media screen and (max-width: 1023px) {
  main.member .deco {
    padding:10px 0;
  }
  main.member .deco>div {
    width:2px;
    border-radius: 1px;
  }
}

.section-member {
  width:100%;
  padding:1.56vw 8.95vw;
}

.section-member h2 {
  font-weight:800;
  font-size:30px;
  margin-bottom:30px;
}
.section-member h2 >span{
  font-size:20px;
  margin-left:20px;
}
@media screen and (max-width: 1023px) {
  .section-member h2 {
    font-size:18px;
    margin-bottom:15px;
  }
  .section-member h2 >span{
    font-size:12px;
    margin-left:12px;
  }
}
.section-member ul {
  display:flex;
  flex-wrap:wrap;
  font-size:20px;
}


.section-member li  {
  margin-bottom:50px;
  word-break: break-all;
  box-sizing: border-box;
  padding-right:20px;
}

@media screen and (max-width: 1023px) {
  .section-member{
    padding: 1.56vw 20px;
  }
  .section-member ul {
    font-size:14px;

  }

  .section-member li  {
    padding-right:10px;
    margin-bottom:25px;
  }
}

.selector-date {
  display:flex;
  color: var(--color-font-main);
  font-weight:800;
  font-size:30px;
  margin-bottom:100px;
}
.selector-date button:first-child{
  padding-left:0;
}
.selector-date button{
  padding:15px;
}
.selector-date button:hover svg path{
  fill: #ff5680;
}
.selector-date a{
  display:flex;
  align-items: center;
  padding:15px;
}
.selector-date a:hover svg path{
  fill: #ff5680;
}
.selector-date a.off{
  visibility: hidden;
}
.selector-date svg{
  display:block;
  width:17px;
}
.selector-date svg path{
  fill: var(--color-font-main);
}
.selector-date svg path{
  fill: var(--color-deco-main);
}
.selector-date time{
  padding:15px;
}

@media screen and (max-width: 1023px) {
  .selector-date {
    margin-top:25px;
    font-size:20px;
    margin-bottom:50px;
  }
}

.history {
  display:flex;
  margin-bottom:50px;
  flex-wrap: wrap;
}

.history>div {
  width:100%;
}

@media screen and (max-width: 1023px) {
  .history {
    margin-bottom:25px;
    flex-flow:column;
  }

  .history>div:nth-child(2){
    margin-top:25px;
  }


}

.history>.in {
  color: var(--color-font-main);
}

.history>.out {
  color:#9a9a9a;
}

.history ul li {
  width:16.66%;
}
@media screen and (max-width: 767px) {
  .history ul li {
    width:50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .history ul li {
    width:25%;
  }
}

.member {
  color:#333333;
}

.member ul li {
  width:16.66%;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .member ul li {
    width:25%;
  }
}

@media screen and (max-width: 767px){
  .member ul li {
    width:50%;
  }
}



.wrapper-popup-list-date{
  position:fixed;
  display:none;
  width:100%;
  height:100%;
  top:0;
  left:0;
  align-items: center;
  justify-content: center;
}
.wrapper-popup-list-date.on{
  display:flex;
}
.wrapper-popup-list-date .button-close{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  cursor:pointer;
  z-index:1000;
}
.wrapper-popup-list-date article{
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
  margin:0 48px;
  width:100%;
  max-width:432px;
  max-height:calc(100% - 48px);
  padding:65px 0;
  background-color:rgba(255,255,255,.25);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(250,154,174,0.25); 
  box-shadow: 0px 0px 20px 0px rgba(250,154,174,0.25);
  backdrop-filter: blur(13px);
  border-radius: 10px;
  z-index:1001;
  border:1px solid #fff;
  box-sizing: border-box;
}
.wrapper-popup-list-date article ul{
  padding: 0 20px;
  overflow-y: auto;
  color: #191919;
  font-size:20px;
  line-height:32px;
  width:calc(100% - 40px);
  text-align: center;
}
.wrapper-popup-list-date article ul li{
  width:100%;
}
@media screen and (max-width: 1023px) {
  .wrapper-popup-list-date article ul {
    font-size:16px;;
  }
}


.wrapper-popup-list-date article ul .on a{
  color:#f26b8f;
}
.wrapper-popup-list-date article ul a:hover{
  color:#f26b8f;
}